# Entornos locales y temporales
node_modules/
.DS_Store
Thumbs.db
*.log

# Backups y temporales
*.tmp
*.bak

# Carpetas y archivos privados
private/

# Archivos locales de configuración
config.local.js
.env
.env.local
.env.*
